.dashboard-by-text{
    padding-top: 35px;
}
.month-picker{
    display: none;
}
.main-panel > .custom-content {
    margin-top: 0px;
}
.card-chart {
    padding-left: 15px;
}
.sort-text{
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
.navbar-right .form-group {
    float: right;
    margin-right: 15px;
    margin-top: 0px;
    padding-bottom: 0px;
}
.dailymotion-box {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}
.youtube-box {
    width: 25px;
    height: 25px;
    background-color: #f44336;
}
.stream-box {
    width: 25px;
    height: 25px;
    background-color: #ff9800;
}
.wz-box {
    width: 25px;
    height: 25px;
    background-color: #9c27b0;
}
.link-error {
    width: 25px;
    height: 25px;
    background-color: #4caf50;
}